@charset "utf-8";

@font-face {
    font-family: 'GangwonEduAll';
    src: url('./font/GangwonEduAllBold.woff2') format('woff2'),
        url('./font/GangwonEduAllBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEduAll';
    src: url('./font/GangwonEduAllLight.woff2') format('woff2'),
        url('./font/GangwonEduAllLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


html,
body {
    margin: 0;
}

h1,
h3,
p,
figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

* {
    box-sizing: border-box;
    font-size: 25px;
    color: #000;
    font-family: 'GangwonEduAll';
    font-weight: bold;
    vertical-align: middle;
}


// loding
.loding-motion {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(241, 242, 243);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    >svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

//header
header {
    width: 100%;
    padding: 30px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.8);
    transition: .5s;

    &.active {
        transform: translateY(-100%);
    }

    &.change {
        background-color: rgba(0, 0, 0, 0.8);

        .top {
            .logo {
                >a {
                    >span {
                        color: #fff;
                    }
                }
            }

            .menu {
                >a {
                    color: #fff;
                }

                .bar {
                    >a {
                        >span {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }

    &.nav-active {
        display: none;
    }

    .top {
        width: 1600px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >h1 {
            a {
                display: inline-block;

                >span {
                    display: inline-block;
                    font-size: 40px;

                    &:nth-of-type(1) {
                        color: #000;
                    }

                    &:nth-of-type(2) {
                        color: rgb(255, 136, 0);
                    }

                    &:nth-of-type(3) {
                        color: rgb(255, 192, 0);
                    }
                }
            }
        }

        .menu {
            .h3 {
                display: inline-block;
                margin-right: 100px;
                font-size: 30px;

                &:hover {
                    color: rgb(255, 136, 0);
                }
            }

            .bar {
                display: inline-block;
                margin: 0;
                padding: 0 10px 0 0;

                .menu-bar {
                    display: block;
                    width: 30px;
                    height: 25px;
                    margin: 0;
                    transition: .5s;

                    &:hover {
                        >span {
                            background-color: rgb(255, 136, 0);
                        }
                    }

                    >span {
                        display: block;
                        height: 3px;
                        margin: 7px 0px 0px 0px;
                        background-color: #000;
                        border-radius: 60px;
                    }
                }
            }
        }

    }
}

// nav
nav {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    z-index: 30;

    &.open {
        display: block;
    }

    .navigator {
        width: 100%;
        height: 100%;
        position: relative;


        .menu-list {
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 52;

            >a {
                display: inline-block;
                padding: 0 10px;
                margin: 0 50px;
                font-size: 50px;
                font-weight: bold;

                &:hover {
                    color: rgb(255, 136, 0);
                    text-shadow: 5px 5px 10px rgb(255, 136, 0);
                }
            }
        }

        .close {
            width: 50px;
            height: 50px;
            position: absolute;
            right: 8%;
            top: 20px;
            z-index: 60;

            >button {
                width: 100%;
                height: 100%;
                outline: none;
                background: none;
                border: none;
                display: block;
                font-size: 60px;

                &:hover {
                    color: rgb(255, 136, 0);
                    text-shadow: 5px 5px 10px rgb(255, 136, 0);
                }
            }
        }

    }
}

// top-button
picture {
    position: fixed;
    right: 2%;
    bottom: 3%;
    z-index: 5;

    .top-btn {
        background: none;
        outline: none;
        border: none;

        >img {
            width: 90%;
        }
    }
}

// footer
footer {
    width: 100%;
    background-color: #e1e1e1;
    margin: 100px auto 0;
    padding: 30px 0 50px;

    .bottom {
        width: 1600px;
        margin: 0 auto;
        padding: 20px;

        .target {
            width: 60%;
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            vertical-align: middle;

            >span {
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: normal;
                flex-shrink: 0;
            }

            >a {
                flex-shrink: 0;

                >img {
                    width: 100%;
                }
            }
        }

        .block {
            width: 100%;
            margin: 0 auto;
            text-align: center;

            >p {
                width: 90%;
                padding: 15px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;

                >a {
                    padding: 0 30px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: lighter;
                    font-size: 15px;
                    flex-shrink: 0;
                }

                >span {
                    height: 20px;
                    border-right: 1px solid #666;
                }
            }
        }

        .address {
            width: 100%;
            margin: 0 auto;
            padding: 15px 0;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: lighter;
            font-size: 14px;
            text-align: center;
        }

    }
}

//bottom-img
.bg-img02 {
    width: 100%;
    overflow: hidden;

    >p {
        >img {
            width: 100%;
        }
    }
}

// ==========================================sub==========================================

// sub page
.menu-title {
    width: 100%;
    margin-bottom: 20px;
    position: relative;

    >figure {
        width: 100%;

        >img {
            width: 100%;
        }
    }

    .title_1 {
        width: 1600px;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);

        .main {
            margin: 0 auto 20px;
            color: #fff;
            font-size: 80px;
            text-align: center;
        }

        .sub {
            margin: 10px auto 50px;
            color: #fff;
            font-size: 32px;
            text-align: center;
            font-weight: normal;
        }
    }
}

// sub page navi
.navi_bar {
    width: 1600px;
    padding-bottom: 50px;
    margin: 5px auto 0;

    >p {
        >a {
            display: inline-block;

            >img {
                width: 100%;
                padding: 5px;
                display: inline-block;
            }
        }

        >img {
            display: inline-block;
            padding: 5px;
            height: 24px;
        }

        >span {
            display: inline-block;
            padding: 5px;
            font-weight: normal;
            font-size: 20px;
            color: #262626;
        }

    }
}




/*
==============================================
=================반응형 데스크탑================
==============================================
*/

@media (min-width:1025px) and (max-width:1600px) {

    // loding
    .loding-motion {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background-color: rgb(241, 242, 243);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;

        >svg {
            width: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    //header
    header {
        width: 100%;
        padding: 30px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        background-color: rgba(255, 255, 255, 0.8);
        transition: .5s;

        &.active {
            transform: translateY(-100%);
        }

        &.change {
            background-color: rgba(0, 0, 0, 0.8);

            .top {
                .logo {
                    >a {
                        >span {
                            color: #fff;
                        }
                    }
                }

                .menu {
                    >a {
                        color: #fff;
                    }

                    .bar {
                        >a {
                            >span {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }

        &.nav-active {
            display: none;
        }

        .top {
            width: 95%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >h1 {
                a {
                    display: inline-block;

                    >span {
                        display: inline-block;
                        font-size: 30px;

                        &:nth-of-type(1) {
                            color: #000;
                        }

                        &:nth-of-type(2) {
                            color: rgb(255, 136, 0);
                        }

                        &:nth-of-type(3) {
                            color: rgb(255, 192, 0);
                        }
                    }
                }
            }

            .menu {
                .h3 {
                    display: inline-block;
                    margin-right: 60px;
                    font-size: 25px;

                    &:hover {
                        color: rgb(255, 136, 0);
                    }
                }

                .bar {
                    display: inline-block;
                    margin: 0;
                    padding: 0 10px 0 0;

                    .menu-bar {
                        display: block;
                        width: 25px;
                        height: 20px;
                        margin: 0;
                        transition: .5s;

                        &:hover {
                            >span {
                                background-color: rgb(255, 136, 0);
                            }
                        }

                        >span {
                            display: block;
                            height: 3px;
                            margin: 6px 0px 0px 0px;
                            background-color: #000;
                            border-radius: 60px;
                        }
                    }
                }
            }

        }
    }

    // nav
    nav {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        display: none;
        z-index: 30;

        &.open {
            display: block;
        }

        .navigator {
            width: 100%;
            height: 100%;
            position: relative;


            .menu-list {
                margin: 0 auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 52;
                display: flex;
                flex-direction: column;

                >a {
                    display: inline-block;
                    padding: 10px;
                    margin: 25px 0;
                    font-size: 50px;
                    font-weight: bold;
                    flex-shrink: 0;

                    &:hover {
                        color: rgb(255, 136, 0);
                        text-shadow: 5px 5px 10px rgb(255, 136, 0);
                    }
                }
            }

            .close {
                width: 50px;
                height: 50px;
                position: absolute;
                right: 8%;
                top: 20px;
                z-index: 60;

                >button {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    background: none;
                    border: none;
                    display: block;
                    font-size: 60px;

                    &:hover {
                        color: rgb(255, 136, 0);
                        text-shadow: 5px 5px 10px rgb(255, 136, 0);
                    }
                }
            }

        }
    }

    // top-button
    picture {
        position: fixed;
        right: 2%;
        bottom: 3%;
        z-index: 5;

        .top-btn {
            background: none;
            outline: none;
            border: none;

            >img {
                width: 100%;
            }
        }
    }

    // footer
    footer {
        width: 100%;
        background-color: #e1e1e1;
        margin: 100px auto 0;
        // padding: 30px 0 50px;

        .bottom {
            width: 95%;
            margin: 0 auto;
            padding: 20px;

            .target {
                width: 90%;
                margin: 20px auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                >span {
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: normal;
                    flex-shrink: 0;
                }

                >a {
                    flex-shrink: 0;

                    >img {
                        width: 100%;
                    }
                }
            }

            .block {
                width: 100%;
                margin: 0 auto;
                text-align: center;

                >p {
                    width: 95%;
                    padding: 15px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >a {
                        padding: 0 15px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-weight: lighter;
                        font-size: 15px;
                        flex-shrink: 0;
                    }

                    >span {
                        height: 20px;
                        border-right: 1px solid #666;
                    }
                }
            }

            .address {
                width: 100%;
                margin: 0 auto;
                padding: 15px 0;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: lighter;
                font-size: 14px;
                text-align: center;
            }

        }
    }

    //bottom-img
    .bg-img02 {
        width: 100%;
        overflow: hidden;

        >p {
            >img {
                width: 100%;
            }
        }
    }

    // ==========================================sub==========================================

    // sub page
    .menu-title {
        width: 100%;
        height: 45vh;
        margin-bottom: 20px;
        position: relative;

        >figure {
            width: 100%;
            height: 100%;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .title_1 {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);

            .main {
                margin: 20px auto;
                color: #fff;
                font-size: 45px;
                text-align: center;
            }

            .sub {
                margin: 10px auto 30px;
                color: #fff;
                font-size: 25px;
                text-align: center;
                font-weight: normal;
            }
        }
    }

    // sub page navi
    .navi_bar {
        width: 80%;
        padding-bottom: 30px;
        margin: 5px auto 0;

        >p {
            >a {
                display: inline-block;

                >img {
                    width: 100%;
                    padding: 5px;
                    display: inline-block;
                }
            }

            >img {
                display: inline-block;
                padding: 5px;
                height: 24px;
            }

            >span {
                display: inline-block;
                padding: 5px;
                font-weight: normal;
                font-size: 20px;
                color: #262626;
            }

        }
    }

}

/* 
==============================================
=================반응형 타블릿=================
==============================================
*/

@media (min-width:768px) and (max-width:1024px) {

    // loding
    .loding-motion {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background-color: rgb(241, 242, 243);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;

        >svg {
            width: 50%;
            height: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    //header
    header {
        width: 100%;
        padding: 3%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        background-color: rgba(255, 255, 255, 0.8);
        transition: .5s;

        &.active {
            transform: translateY(-100%);
        }

        &.change {
            background-color: rgba(0, 0, 0, 0.8);

            .top {
                .logo {
                    >a {
                        >span {
                            color: #fff;
                        }
                    }
                }

                .menu {
                    >a {
                        color: #fff;
                    }

                    .bar {
                        >a {
                            >span {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }

        &.nav-active {
            display: none;
        }

        .top {
            width: 95%;
            margin: 0 auto;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >h1 {
                text-align: center;

                a {
                    display: inline-block;
                    font-size: 25px;

                    >span {
                        display: inline-block;
                        font-size: 25px;

                        &:nth-of-type(1) {
                            color: #000;
                        }

                        &:nth-of-type(2) {
                            color: rgb(255, 136, 0);
                        }

                        &:nth-of-type(3) {
                            color: rgb(255, 192, 0);
                        }
                    }
                }
            }

            .menu {
                .h3 {
                    display: inline-block;
                    margin-right: 50px;
                    font-size: 20px;

                    &:hover {
                        color: rgb(255, 136, 0);
                    }
                }

                .bar {
                    display: inline-block;
                    margin: 0;
                    padding: 0 10px 0 0;

                    .menu-bar {
                        display: block;
                        width: 25px;
                        height: 20px;
                        margin: 0;
                        transition: .5s;

                        &:hover {
                            >span {
                                background-color: rgb(255, 136, 0);
                            }
                        }

                        >span {
                            display: block;
                            height: 2px;
                            margin: 5px 0px 0px 0px;
                            background-color: #000;
                            border-radius: 60px;
                        }
                    }
                }
            }

        }
    }

    // nav
    nav {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 30;
        display: none;

        &.open {
            display: block;
        }

        .navigator {
            width: 100%;
            height: 100%;
            position: relative;

            .menu-list {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                z-index: 52;
                display: flex;
                flex-direction: column;

                >a {
                    width: 100%;
                    display: inline-block;
                    padding: 10px;
                    margin: 25px 0;
                    font-size: 50px;
                    font-weight: bold;
                    flex-shrink: 0;

                    &:hover {
                        color: rgb(255, 136, 0);
                        text-shadow: 5px 5px 10px rgb(255, 136, 0);
                    }
                }
            }

            .close {
                width: 50px;
                height: 50px;
                position: absolute;
                right: 8%;
                top: 20px;
                z-index: 60;


                >button {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    background: none;
                    border: none;
                    display: block;
                    font-size: 60px;

                    &:hover {
                        color: rgb(255, 136, 0);
                        text-shadow: 5px 5px 10px rgb(255, 136, 0);
                    }
                }
            }

        }
    }

    // top-button
    picture {
        position: fixed;
        right: 2%;
        bottom: 3%;
        z-index: 5;

        .top-btn {
            background: none;
            outline: none;
            border: none;

            >img {
                width: 90%;
            }
        }
    }

    // footer
    footer {
        width: 100%;
        background-color: #e1e1e1;
        margin: 10% auto 0;
        padding: 3% 0 5%;

        .bottom {
            width: 95%;
            margin: 0 auto;
            padding: 2%;

            .target {
                width: 100%;
                margin: 3% auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                >span {
                    font-size: 12px;
                    margin-right: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: normal;
                    flex-shrink: 0;
                }

                >a {
                    width: 10%;
                    flex-shrink: 0;

                    >img {
                        width: 100%;
                    }
                }
            }

            .block {
                width: 100%;
                margin: 0 auto;
                text-align: center;

                >p {
                    width: 100%;
                    padding: 10px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    >a {
                        padding: 0 15px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-weight: lighter;
                        font-size: 5%;
                        flex-shrink: 0;
                    }

                    >span {
                        height: 10px;
                        border-right: 1px solid #666;
                    }
                }
            }

            .address {
                width: 100%;
                margin: 0 auto;
                padding: 15px 0;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: lighter;
                font-size: 12px;
                text-align: center;
            }

        }
    }

    //bottom-img
    .bg-img02 {
        width: 100%;
        overflow: hidden;

        >p {
            >img {
                width: 100%;
            }
        }
    }

    // ==========================================sub==========================================

    // sub page
    .menu-title {
        width: 100%;
        height: 30vh;
        position: relative;

        >figure {
            width: 100%;
            height: 100%;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .title_1 {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);

            .main {
                margin: 20px auto;
                color: #fff;
                font-size: 45px;
                text-align: center;
            }

            .sub {
                margin: 10px auto 30px;
                color: #fff;
                font-size: 25px;
                text-align: center;
                font-weight: normal;
            }
        }
    }

    // sub page navi
    .navi_bar {
        width: 95%;
        padding-bottom: 30px;
        margin: 5px auto 0;

        >p {
            display: flex;
            justify-content: left;
            align-items: center;

            >a {
                display: block;

                >img {
                    width: 100%;
                    height: 30px;
                    padding: 5px;
                    display: block;
                }
            }

            >img {
                display: block;
                padding: 6px;
                height: 30px;
            }

            >span {
                display: block;
                padding: 3px;
                font-size: 20px;
                color: #262626;
            }

        }
    }
}

/*
==============================================
=================반응형 모바일=================
==============================================
*/

@media (min-width:320px) and (max-width:767px) {

    // loding
    .loding-motion {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background-color: rgb(241, 242, 243);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;

        >svg {
            width: 30%;
            height: 30%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    //header
    header {
        width: 100%;
        padding: 3%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        background-color: rgba(255, 255, 255, 0.8);
        transition: .5s;

        &.active {
            transform: translateY(-100%);
        }

        &.change {
            background-color: rgba(0, 0, 0, 0.8);

            .top {
                .logo {
                    >a {
                        >span {
                            color: #fff;
                        }
                    }
                }

                .menu {
                    >a {
                        color: #fff;
                    }

                    .bar {
                        >a {
                            >span {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }

        &.nav-active {
            display: none;
        }

        .top {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >h1 {
                font-size: 0;

                a {
                    display: inline-block;
                    font-size: 0;

                    >span {
                        display: inline-block;
                        font-size: 20px;

                        &:nth-of-type(1) {
                            color: #000;
                        }

                        &:nth-of-type(2) {
                            color: rgb(255, 136, 0);
                        }

                        &:nth-of-type(3) {
                            color: rgb(255, 192, 0);
                        }
                    }
                }
            }

            .menu {
                font-size: 0;

                .h3 {
                    // display: inline-block;
                    margin-right: 100px;
                    font-size: 30px;
                    display: none;

                    &:hover {
                        color: rgb(255, 136, 0);
                    }
                }

                .bar {
                    display: inline-block;
                    margin: 0;
                    padding: 0 10px 0 0;
                    font-size: 0;

                    .menu-bar {
                        display: block;
                        width: 20px;
                        height: 15px;
                        margin: 0;
                        transition: .5s;

                        &:hover {
                            >span {
                                background-color: rgb(255, 136, 0);
                            }
                        }

                        >span {
                            display: block;
                            height: 2px;
                            margin: 4px 0px 0px 0px;
                            background-color: #000;
                            border-radius: 60px;
                        }
                    }
                }
            }

        }
    }

    // nav
    nav {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 30;
        display: none;

        &.open {
            display: block;
        }

        .navigator {
            width: 100%;
            height: 100%;
            position: relative;

            .menu-list {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                z-index: 52;
                display: flex;
                flex-direction: column;

                >a {
                    width: 100%;
                    display: inline-block;
                    padding: 10px;
                    margin: 15px 0;
                    font-size: 25px;
                    font-weight: bold;
                    flex-shrink: 0;

                    &:hover {
                        color: rgb(255, 136, 0);
                        text-shadow: 5px 5px 10px rgb(255, 136, 0);
                    }
                }
            }

            .close {
                width: 50px;
                height: 50px;
                position: absolute;
                right: 8%;
                top: 20px;
                z-index: 60;


                >button {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    background: none;
                    border: none;
                    display: block;
                    font-size: 60px;

                    &:hover {
                        color: rgb(255, 136, 0);
                        text-shadow: 5px 5px 10px rgb(255, 136, 0);
                    }
                }
            }

        }
    }

    // top-button
    picture {
        position: fixed;
        right: 2%;
        bottom: 3%;
        z-index: 5;

        .top-btn {
            background: none;
            outline: none;
            border: none;

            >img {
                width: 60%;
            }
        }
    }

    // footer
    footer {
        width: 100%;
        background-color: #e1e1e1;
        margin: 10% auto 0;
        padding: 3% 0 5%;

        .bottom {
            width: 95%;
            margin: 0 auto;
            padding: 2%;

            .target {
                width: 100%;
                margin: 2% auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                >span {
                    font-size: 5%;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: normal;
                    flex-shrink: 0;
                }

                >a {
                    width: 10%;
                    flex-shrink: 0;

                    >img {
                        width: 100%;
                    }
                }
            }

            .block {
                width: 100%;
                margin: 0 auto 3%;
                text-align: center;

                >p {
                    width: 100%;
                    padding: 5%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    >a {
                        padding: 0 3%;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-weight: lighter;
                        font-size: 5%;
                        flex-shrink: 0;
                    }

                    >span {
                        display: none;
                        // height: 20px;
                        // border-right: 1px solid #666;
                    }
                }
            }

            .address {
                width: 100%;
                margin: 0 auto;
                padding: 2% 0;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: lighter;
                font-size: 2%;
                text-align: center;
            }

        }
    }

    //bottom-img
    .bg-img02 {
        width: 100%;
        overflow: hidden;

        >p {
            >img {
                width: 100%;
            }
        }
    }

    // ==========================================sub==========================================

    // sub page
    .menu-title {
        width: 100%;
        height: 25vh;
        padding: 0px;
        position: relative;

        >figure {
            width: 100%;
            height: 100%;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .title_1 {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);

            .main {
                margin: 10px auto;
                color: #fff;
                font-size: 28px;
                text-align: center;
            }

            .sub {
                margin: 10px auto 20px;
                color: #fff;
                font-size: 14px;
                text-align: center;
                font-weight: normal;
            }
        }
    }

    // sub page navi
    .navi_bar {
        width: 95%;
        padding-bottom: 5%;
        margin: 5px auto 0;

        >p {
            display: flex;
            justify-content: left;
            align-items: center;

            >a {
                display: block;

                >img {
                    width: 100%;
                    height: 15px;

                    padding: 3px;
                    display: block;
                }
            }

            >img {
                display: block;
                padding: 3px;
                height: 15px;
            }

            >span {
                display: block;
                padding: 3px;
                font-weight: normal;
                font-size: 13px;
                color: #262626;
            }

        }
    }
}