@import url('common.css');


.event{
    width: 1600px;
    margin: 0 auto;
}

.event .main_event{
    width: 1000px;
    margin: 100px auto;
    border: 2px solid #000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.event .main_event > img{}

.event .main_event > figcaption{
    padding: 20px 50px;
    line-height: 150%;
    font-weight: normal;
    font-size: 23px;
}

.event .main_event > figcaption > b{
    font-size: 35px;
    line-height: 180%;
}

.event .main_event > a{
    color: #777;
    font-size: 23px;
    font-weight: normal;
    padding: 20px;
}

.event .main_event > a > span{
    width: 100%;
    border-bottom: 2px solid #777;
    display: none;
    transition: 0.5s;
}


.event .main_event > a:hover >span{
    display: block;
}

.event > ul{
    margin: 0 auto 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event > ul > li{
    position: relative;
}

.event > ul > li > a{
    display: inline-block;
    overflow: hidden;
}

.event > ul > li > a > img{
    width: 100%;
    transition: 0.5s;
}

.event > ul > li > a > img:hover{
    transform: scale(1.1);
}


.event > ul > li > a .more{
    padding: 10px 12px;
    background-color: #ddd;
    opacity: 0.8;
    position: absolute;
    right: 0; top: 0;
}

.event > ul > li > p{
    padding: 10px 5px;
}



/*
==============================================
=================반응형 모바일=================
==============================================
*/

@media (min-width:320px) and (max-width:767px) {}




/* 
==============================================
=================반응형 타블랫=================
==============================================
*/

@media (min-width:768px) and (max-width:1024px){}



/*
==============================================
=================반응형 데스크탑================
==============================================
*/

@media (min-width:1025px) and (max-width:1600px){}





