@import url('common.css');

@font-face {
    font-family: 'GangwonEduAll';
    src: url('GangwonEduAllBold.woff2') format('woff2'),
        url('GangwonEduAllBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEduAll';
    src: url('GangwonEduAllLight.woff2') format('woff2'),
        url('GangwonEduAllLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* list */

.list {
    width: 1600px;
    margin: 100px auto 80px;
}

.list .story {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list .story > a {
    width: 23%;
    margin: 40px auto;
}

.list .story>a>img {
    width: 100%;
}





/* arrow


.arrow {
    width: 1600px;
    margin: 0 auto;
    text-align: center;
}

.arrow>p {
    display: inline-block;
    padding: 30px 0;
}

.arrow>p>a {
    margin: 3px;
    width: 50px;
    height: 50px;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    align-items: center;
}

.arrow>p>a:hover {
    background-color: #aaa;
    color: #fff;
} */












/*
==============================================
=================반응형 모바일=================
==============================================
*/
@media (min-width:320px) and (max-width:767px) {

    /* list */

    .list {
        width: 90%;
        margin: 5% auto 5%;
    }

    .list .story {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .list .story>a {
        width: 40%;
        margin: 20px auto;
    }

    .list .story>a>img {
        width: 100%;
    }


    /* arrow */


    .arrow {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .arrow>p {
        display: inline-block;
        padding: 3% 0;
    }

    .arrow>p>a {
        margin: 3px;
        width: 30px;
        height: 30px;
        padding: 4px;
        font-size: 15px;
        border: 1px solid #ddd;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        align-items: center;
    }


    .arrow>p>a:hover {
        background-color: #aaa;
        color: #fff;
    }

}









/*
==============================================
=================반응형 타블랫=================
==============================================
*/
@media (min-width:768px) and (max-width:1024px) {


    /* list */

.list {
    width: 90%;
    margin: 50px auto 0px;
}

.list .story {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list .story>a {
    width: 22%;
    margin: 20px auto;
}

.list .story>a>img {
    width: 100%;
}





/* arrow */


.arrow {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.arrow>p {
    display: inline-block;
    padding: 40px 0;
}

.arrow>p>a {
    margin: 3px;
    width: 50px;
    height: 50px;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    align-items: center;
}

.arrow>p>a:hover {
    background-color: #aaa;
    color: #fff;
}




}











/*
==============================================
=================반응형 데스크탑===============
==============================================
*/
@media (min-width:1025px) and (max-width:1600px) {

    
    /* list */

.list {
    width: 90%;
    margin: 100px auto 80px;
}

.list .story {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list .story>a {
    width: 22%;
    margin: 30px auto;
}

.list .story>a>img {
    width: 100%;
}





/* arrow */


.arrow {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.arrow>p {
    display: inline-block;
    padding: 30px 0;
}

.arrow>p>a {
    margin: 3px;
    width: 50px;
    height: 50px;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    align-items: center;
}

.arrow>p>a:hover {
    background-color: #aaa;
    color: #fff;
}



}