@import url('./common.css');

/* search */

.search {
    width: 1600px;
    margin: 100px auto 80px;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
}

.search>p {
    width: 90%;
    margin: 0 auto;
    font-size: 30px;
    padding: 20px 0;
}

.search .click {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.search .click .city {
    padding: 20px;
}

.search .click .city>button {
    width: 80px;
    height: 40px;
    margin: 5px auto;
    padding: 10px;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    border: 1px solid #646464;
    border-radius: 5px;
    font-weight: normal;
    background-color: #fff;
    outline: none;
    flex-shrink: 0;
}

.search .click .city>button:nth-child(1) {
    background-color: #ddd;
}

.search .click .city>button:nth-child(2) {
    background-color: #FFEAAA;
}

.search .click .city>button:hover {
    background-color: #999;
    color: #fff;
}


.search .click .window {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .click .window>p {
    width: 500px;
    height: 55px;
    flex-shrink: 0;
    border: 3px solid #FFCC33;
    border-radius: 10px;
    position: relative;
}

.search .click .window>p>input {
    width: 100%; height: 100%;
    border: none;
    background: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.search .click .window>p>button {
    width: 50px; height: 100%;
    display: inline-block;
    background: none;
    flex-shrink: 0;
    border: none;
    outline: none;
    position: absolute;
    right: 0; top: 0;
    margin-right: 10px;
}

.search .click .window>p>button>img {
    width: 100%;
    padding: 5px;
}



/* market-list */

.market {
    width: 1600px;
    margin: 0 auto 100px;
}

.market .list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.market .list>li {
    width: 23%;
    margin-bottom: 30px;
    border: 1px solid #aaa;
    vertical-align: middle;
    position: relative;
    flex-shrink: 0;
}


.market .list>li .market-list > img {
    width: 100%;
}


.market .list > li .market-list .txt {
    width: 100%;
    display: block;
    padding: 15px;
    padding-bottom: 60px;
}

.market .list>li .market-list .txt >b {
    display: block;
    padding-bottom: 10px;
}
.market .list > li .market-list .txt .detail{
    font-size: 18px;
    color: #777;
    font-weight: normal;
}

.market .list > li .market-list .place {
    width: 100%;
    padding: 10px;
    color: #555;
    font-weight: normal;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.market .list > li .market-list .place > span {
    display: block;
    color: #555;
    font-weight: normal;
    font-size: 15px;
}
.market .list > li .market-list .place > span:nth-child(1) {
    font-size: 16px;
}
.market .list > li .market-list .place > span:nth-child(2) {
    width: 30%;
    text-align: end;
}


.market .list>li .market-list .place >span > img {
    width: 15%;
    margin-right: 5px;
}


/* popup page */

.market .list > li .popup {
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #fff;
    position: fixed;
    left: 0; top: 0;
    z-index: 10;
    overflow: hidden;
    overflow-y: auto;
    display: none;
}
.market .list > li .popup::-webkit-scrollbar{
    display: none;
}

.market .list > li .popup.active{
    display: block;
}

.market .list > li .popup .closer{
    position: fixed;
    right: 13%; top: 1%;
    font-size: 50px;
}

.market .list > li .popup .info2 {
    width: 1400px;
    margin: 0 auto 20px;
    padding-bottom: 50px;
}

.market .list > li .popup .info2>div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.market .list > li .popup .info2>div>h3 {
    font-size: 40px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.market .list > li .popup .info2>div>a {
    font-size: 20px;
    font-weight: normal;
}


.market .list > li .popup .info2>p {
    font-size: 25px;
}

.market .list > li .popup .info3 {
    width: 1400px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #555;
}

.market .list > li .popup .info3>caption {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.market .list > li .popup .info3>thead {
    width: 90%;
}

.market .list > li .popup .info3>thead>tr {
    padding: 30px;
}

.market .list > li .popup .info3>thead>tr>th {
    font-size: 25px;
}

.market .list > li .popup .info3>thead>tr:nth-child(1)>th {
    padding: 12px 0;
    border-bottom: 1px double #555;
    font-size: 25px;
}

.market .list > li .popup .info3>thead>tr:nth-child(2)>th {
    font-weight: normal;
    padding: 20px;
    vertical-align: middle;
}

.market .list > li .popup .info3>thead>tr:nth-child(2)>th>img {
    padding-right: 10px;
}

.market .list > li .popup .info3>thead>tr>th {}

.market .list > li .popup .info3>tbody {
    width: 90%;
    margin: 0 auto;
}

.market .list > li .popup .info3>tbody>tr>td {
    padding-bottom: 30px;
}


/* info4 */
.popup .info4 {
    width: 1400px;
    overflow: hidden;
    margin: 30px auto 0;

}

.popup .info4 > aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin: 10px auto;
    padding: 20px;
}


.popup .info4 > aside > p{
    font-size: 30px;
    font-weight: bold;
}

.popup .info4 > aside .btn{}

.popup .info4 > aside .btn >button{
    width: 50px;
    margin-left: 10px;
    outline: none;
    border: none;
    background: none;
}
.popup .info4 > aside > div .btn button img{
    width: 100%
}



.popup .info4>ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.popup .info4>ul>li {
    width: 100%;
    margin: 0 10px;
}

.popup .info4>ul>li>div {
    width: 300px;
    border: 1px solid #aaa;
}

.popup .info4>ul>li>div>a {}

.popup .info4>ul>li>div>a>img {
    width: 100%;
}

.popup .info4>ul>li>div>a .txt {
    font-size: 20px;
    display: inline-block;
    padding: 10px 15px;
}

.popup .info4>ul>li>div>a .txt>b {
    font-size: 25px;
    display: block;
    padding: 5px 0 10px;
}








/*
==============================================
=================반응형 모바일=================
==============================================
*/

/* search */
@media (min-width:320px) and (max-width:767px) {



    /* search */

    .search {
        width: 90%;
        margin: 5% auto 10%;
        border: 1px solid #9e9e9e;
        border-radius: 10px;
    }

    .search>p {
        font-size: 20px;
        padding: 15px 30px;
    }

    .search .click {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .search .click .city {
        width: 90%;
        margin: 0 auto;
        padding: 0 5%;
        flex-shrink: 0;
    }

    .search .click .city>button {
        width: 23%; height: 5%;
        margin: 3% auto;
        padding: 3%;
        display: inline-block;
        font-size: 12px;
        text-align: center;
        border: 1px solid #646464;
        border-radius: 5px;
        font-weight: normal;
        background-color: #fff;
        outline: none;
    }

    .search .click .city>button:nth-child(1) {
        background-color: #ddd;
    }

    .search .click .city>button:nth-child(2) {
        background-color: #FFEAAA;
    }

    .search .click .city>button:hover {
        background-color: #999;
        color: #fff;
    }


    .search .click .window {
        width: 90%;
        margin: 5% auto;
        padding: 0;
        flex-shrink: 0;
        display: flex;
        justify-content: center;

    }

    .search .click .window>span {
        width: 80%;
        height: 50px;
        border: 3px solid #FFCC33;
        flex-shrink: 0;
    }

    .search .click .window>span>input {
        width: 100%;
        height: 40px;
        margin: 0 auto;
        border: none;
        align-items: center;
        text-align: center;
        font-size: 12px;
        outline: none;
        font-weight: normal;
        flex-shrink: 0;
    }

    .search .click .window>button {
        flex-shrink: 0;
        width: 40px;
        height: 50px;
        display: inline-block;
        background-color: #FFCC33;
        outline: none;
        border: none;
    }

    .search .click .window>button>img {
        width: 95%;
        margin: 0 auto;
        padding: 12px 6px;
    }



    /* market-list */

    .market {
        width: 90%;
        margin: 0 auto;
    }

    .market .list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .market .list>li {
        width: 95%;
        margin-bottom: 20px;
        border: 1px solid #aaa;
        vertical-align: middle;
        position: relative;
    }

    .market .list>li>span {
        width: 100%;
    }

    .market .list>li>span>a {}

    .market .list>li>span>a>img {
        width: 100%;
    }

    .market .list>li>span>a .txt {
        display: block;
        font-weight: normal;
        font-size: 12px;
        padding: 20px;
    }

    .market .list>li>span>a .txt>b {
        font-size: 15px;
        display: block;
        padding-bottom: 10px;
    }

    .market .list>li>span>a .place {
        width: 100%;
        padding: 10px;
        font-size: 12px;
        font-weight: normal;
        color: #555;
        background-color: #ddd;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        vertical-align: middle;
    }

    .market .list>li>span>a .place>span {
        font-size: 12px;
        font-weight: normal;
    }

    .market .list>li>span>a .place>span>img {
        margin-right: 5px;
    }



}

/* info */
@media (min-width:320px) and (max-width:767px) {



    .popup {
        width: 100%;
        position: relative;
    }



    .popup .info2 {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .popup .info2>div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .popup .info2>div>h3 {
        font-size: 30px;
        padding-right: 40px;
        padding-bottom: 20px;
    }

    .popup .info2>div>a {
        font-size: 20px;
        font-weight: normal;
    }

    .popup .info2>p {
        font-size: 18px;
        line-height: 120%;
    }



    /* info 3 */
    .popup .info3 {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        border-collapse: collapse;
        border: 1px solid #555;
    }

    .popup .info3>caption {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .popup .info3>thead {
        width: 100%;
    }

    .popup .info3>thead>tr {
        padding: 10px;
    }

    .popup .info3>thead>tr:nth-child(1) {}

    .popup .info3>thead>tr:nth-child(2) {}

    .popup .info3>thead>tr>th {}

    .popup .info3>thead>tr:nth-child(1)>th {
        padding: 5px 0;
        border-bottom: 1px double #555;
        font-size: 18px;
    }

    .popup .info3>thead>tr:nth-child(2)>th {
        font-size: 0;
        font-weight: normal;
        padding: 20px;
        vertical-align: middle;
    }

    .popup .info3>thead>tr:nth-child(2)>th>img {
        padding-right: 0px;
    }

    .popup .info3>tbody {
        width: 100%;
        margin: 10px auto;
    }

    .popup .info3>tbody>tr {}

    .popup .info3>tbody>tr>td {
        padding-bottom: 15px;
    }

    /* info4 */
    .popup .info4 {
        width: 90%;
        margin: 10% auto 5%;
    }

    .popup .info4 .tourist {
        width: 100%;
        margin: 5% auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        vertical-align: middle;
    }

    .popup .info4 .tourist>h3 {
        font-size: 25px;
        font-weight: bold;
    }

    .popup .info4 .tourist .btn {
        display: none;
    }

    .popup .info4 .tourist .btn>p {}

    .popup .info4 .tourist .btn>span {
        width: 50%;
        border-top: 1px solid #000;
        display: inline-block;
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        z-index: -10;
    }

    .popup .info4 .tourist .btn>p>input {
        display: none;
    }

    .popup .info4 .tourist .btn>p>label {
        position: absolute;
        right: 30%;
        top: 50%;
        transform: translateY(-50%);


    }

    .popup .info4 .tourist .btn>p>label>span {}

    .popup .info4 .tourist .btn>p>label>span>img {
        width: 80%;
    }


    /* travel */

    .popup .info4>ul {
        width: 100%;
        margin: 3% auto 10%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
    }

    .popup .info4>ul>li {
        margin: 0 auto;
        padding: 8px;
    }

    .popup .info4>ul>li>div {
        width: 250px;
        border: 1px solid #aaa;
    }

    .popup .info4>ul>li>div>a {}

    .popup .info4>ul>li>div>a>img {
        width: 100%;
    }

    .popup .info4>ul>li>div>a .txt {
        font-size: 15px;
        display: inline-block;
        padding: 10px;
    }

    .popup .info4>ul>li>div>a .txt>b {
        font-size: 18px;
        display: block;
        padding: 5px;
    }




}

/*
==============================================
=================반응형 타블랫=================
==============================================
*/

/* search */
@media (min-width:768px) and (max-width:1024px) {



/* search */

.search {
    width: 90%;
    margin: 10% auto 8%;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
}

.search>p {
    width: 90%;
    margin: 0 auto;
    font-size: 25px;
    padding: 20px 0;
}

.search .click {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.search .click .city {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    flex-shrink: 0;
}

.search .click .city>button {
    width: 80px;
    height: 40px;
    margin: 5px auto;
    padding: 10px;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    border: 1px solid #646464;
    border-radius: 5px;
    font-weight: normal;
    background-color: #fff;
    outline: none;
}

.search .click .city>button:nth-child(1) {
    background-color: #ddd;
}

.search .click .city>button:nth-child(2) {
    background-color: #FFEAAA;
}

.search .click .city>button:hover {
    background-color: #999;
    color: #fff;
}


.search .click .window {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;

}

.search .click .window>span {
    width: 450px;
    height: 55px;
    border: 3px solid #FFCC33;
    flex-shrink: 0;
}

.search .click .window>span>input {
    width: 100%;
    height: 46px;
    border: none;
    align-items: center;
    text-align: center;
    font-size: 18px;
    outline: none;
    font-weight: normal;
}

.search .click .window>button {
    display: inline-block;
    width: 50px;
    height: 55px;
    background-color: #FFCC33;
    flex-shrink: 0;
    outline: none;
    border: none;
}

.search .click .window>button>img {
    width: 70%;
    margin: 10px 5px;
}



/* market-list */

.market {
    width: 90%;
    margin: 0 auto;
}

.market .list {
    width: 100%;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* flex-direction: row; */
}

.market .list>li {
    width: 45%;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    vertical-align: middle;
    position: relative;

}

.market .list>li>span {
    width: 100%;
}

.market .list>li>span>a {}

.market .list>li>span>a>img {
    width: 100%;
}

.market .list>li>span>a .txt {
    display: block;
    font-weight: normal;
    font-size: 15px;
    padding: 15px;
    color: #777;
}

.market .list>li>span>a .txt>b {
    display: block;
    padding-bottom: 10px;
    font-size: 22px;
}

.market .list>li>span>a .place {
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    color: #555;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    vertical-align: middle;
}

.market .list>li>span>a .place>span {
    font-size: 14px;
    font-weight: normal;
    color: #555;
}

.market .list>li>span>a .place>span>img {
    margin-right: 5px;
}



}

/* info */
@media (min-width:768px) and (max-width:1024px) {


    .popup {
        width: 100%;
        position: relative;
    }


    .popup .head {
        width: 90%;
        margin: 20px auto;
    }

    .info>.head>h1 {
        text-align: center;
    }

    .popup .head>h1>a {}

    .popup .head>h1>a>img {}



    .popup .info2 {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .popup .info2>div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .popup .info2>div>h3 {
        font-size: 30px;
        padding-right: 40px;
        padding-bottom: 20px;
    }

    .popup .info2>div>a {
        font-size: 20px;
        font-weight: normal;
    }


    .popup .info2>p {
        font-size: 20px;
        line-height: 120%;
    }



    .popup .info3 {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        border-collapse: collapse;
        border: 1px solid #555;
    }

    .popup .info3>caption {
        text-align: left;
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .popup .info3>thead {
        width: 90%;
    }

    .popup .info3>thead>tr {
        padding: 30px;
    }

    .popup .info3>thead>tr:nth-child(1) {}

    .popup .info3>thead>tr:nth-child(2) {}

    .popup .info3>thead>tr>th {}

    .popup .info3>thead>tr:nth-child(1)>th {
        padding: 12px 0;
        border-bottom: 1px double #555;
        font-size: 18px;
    }

    .popup .info3>thead>tr:nth-child(2)>th {
        font-size: 0;
        font-weight: normal;
        padding: 20px;
        vertical-align: middle;
    }

    .popup .info3>thead>tr:nth-child(2)>th>img {
        padding-right: 10px;
    }




    .popup .info3>tbody {
        width: 90%;
        margin: 30px auto;
    }

    .popup .info3>tbody>tr {}

    .popup .info3>tbody>tr>td {
        padding-bottom: 30px;
    }



    /* info4 */
    .popup .info4 {
        width: 90%;
        margin: 0 auto;
    }

    .popup .info4 .tourist {
        width: 100%;
        margin: 10% auto 5%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        vertical-align: middle;
    }

    .popup .info4 .tourist>h3 {
        font-size: 25px;
        font-weight: bold;
    }

    .popup .info4 .tourist .btn {}

    .popup .info4 .tourist .btn>p {}

    .popup .info4 .tourist .btn>span {
        width: 50%;
        border-top: 1px solid #000;
        display: inline-block;
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        z-index: -10;
    }

    .popup .info4 .tourist .btn>p>input {
        display: none;
    }

    .popup .info4 .tourist .btn>p>label {
        position: absolute;
        right: 30%;
        top: 50%;
        transform: translateY(-50%);


    }

    .popup .info4 .tourist .btn>p>label>span {}

    .popup .info4 .tourist .btn>p>label>span>img {
        width: 80%;
    }




    /* travel */

    .popup .info4>ul {
        width: 100%;
        margin: 5% auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
    }

    .popup .info4>ul>li {
        margin: 0 auto;
        padding: 15px;
    }

    .popup .info4>ul>li>div {
        width: 200px;
        border: 1px solid #aaa;
    }

    .popup .info4>ul>li>div>a {}

    .popup .info4>ul>li>div>a>img {
        width: 100%;
    }

    .popup .info4>ul>li>div>a .txt {
        font-size: 15px;
        display: inline-block;
        padding: 10px;
    }

    .popup .info4>ul>li>div>a .txt>b {
        font-size: 18px;
        display: block;
        padding: 5px 0 10px;
    }



}

/*
==============================================
=================반응형 데스크탑===============
==============================================
*/
/* search */
@media (min-width:1025px) and (max-width:1600px) {

/* search */

.search {
    width: 90%;
    margin: 10% auto 8%;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
}

.search>p {
    width: 90%;
    margin: 0 auto;
    font-size: 25px;
    padding: 20px 0;
}

.search .click {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.search .click .city {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    flex-shrink: 0;
}

.search .click .city>button {
    width: 80px;
    height: 40px;
    margin: 5px auto;
    padding: 10px;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    border: 1px solid #646464;
    border-radius: 5px;
    font-weight: normal;
    flex-shrink: 0;
    outline: none;
    background-color: #fff;
}

.search .click .city>button:nth-child(1) {
    background-color: #ddd;
}

.search .click .city>button:nth-child(2) {
    background-color: #FFEAAA;
}

.search .click .city>button:hover {
    background-color: #999;
    color: #fff;
}


.search .click .window {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;

}

.search .click .window>span {
    width: 450px;
    height: 55px;
    border: 3px solid #FFCC33;
    flex-shrink: 0;
}

.search .click .window>span>input {
    width: 100%;
    height: 46px;
    border: none;
    align-items: center;
    text-align: center;
    font-size: 18px;
    outline: none;
    font-weight: normal;
}

.search .click .window>button {
    display: inline-block;
    width: 50px;
    height: 55px;
    background-color: #FFCC33;
    flex-shrink: 0;
    border: none;
    outline: none;
}

.search .click .window>button>img {
    width: 70%;
    margin: 10px 5px;
}



/* market-list */

.market {
    width: 90%;
    margin: 0 auto;
}

.market .list {
    width: 100%;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.market .list>li {
    width: 23%;
    margin: 0 auto 20px;
    border: 1px solid #aaa;
    vertical-align: middle;
    position: relative;

}

.market .list>li>span {}

.market .list>li>span>a {}

.market .list>li>span>a>img {
    width: 100%;
}

.market .list>li>span>a .txt {
    display: block;
    font-weight: normal;
    font-size: 15px;
    padding: 15px;
    color: #777;
}

.market .list>li>span>a .txt>b {
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
}

.market .list>li>span>a .place {
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
    color: #555;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    vertical-align: middle;
}

.market .list>li>span>a .place>span {
    font-size: 12px;
    font-weight: normal;
    color: #555;
}

.market .list>li>span>a .place>span>img {
    margin-right: 3px;
}





}

/* info */
@media (min-width:1025px) and (max-width:1500px) {


    .popup {
        width: 100%;
        position: relative;
    }


    .popup .head {
        width: 90%;
        margin: 20px auto;
    }

    .info>.head>h1 {
        text-align: center;
    }

    .popup .head>h1>a {}

    .popup .head>h1>a>img {}



    .popup .info2 {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .popup .info2>div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .popup .info2>div>h3 {
        font-size: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
    }

    .popup .info2>div>a {
        font-size: 20px;
        font-weight: normal;
    }


    .popup .info2>p {
        font-size: 23px;
        line-height: 120%;
    }

    .popup .info3 {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        border-collapse: collapse;
        border: 1px solid #555;
    }

    .popup .info3>caption {
        text-align: left;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .popup .info3>thead {
        width: 90%;
    }

    .popup .info3>thead>tr {
        padding: 30px;
    }

    .popup .info3>thead>tr:nth-child(1) {}

    .popup .info3>thead>tr:nth-child(2) {}

    .popup .info3>thead>tr>th {}

    .popup .info3>thead>tr:nth-child(1)>th {
        padding: 12px 0;
        border-bottom: 1px double #555;
        font-size: 25px;
    }

    .popup .info3>thead>tr:nth-child(2)>th {
        font-size: 20px;
        font-weight: normal;
        padding: 20px;
        vertical-align: middle;
    }

    .popup .info3>thead>tr:nth-child(2)>th>img {
        padding-right: 10px;
    }




    .popup .info3>tbody {
        width: 90%;
        margin: 30px auto;
    }

    .popup .info3>tbody>tr {}

    .popup .info3>tbody>tr>td {
        padding-bottom: 30px;
    }



    /* info4 */
    .popup .info4 {
        width: 90%;
        margin: 100px auto 50px;
    }

    .popup .info4 .tourist {
        width: 100%;
        margin: 50px auto 25px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        vertical-align: middle;
    }

    .popup .info4 .tourist>h3 {
        font-size: 30px;
        font-weight: bold;
    }

    .popup .info4 .tourist .btn {}

    .popup .info4 .tourist .btn>p {}

    .popup .info4 .tourist .btn>span {
        width: 50%;
        border-top: 1px solid #000;
        display: inline-block;
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        z-index: -10;
    }

    .popup .info4 .tourist .btn>p>input {
        display: none;
    }

    .popup .info4 .tourist .btn>p>label {
        position: absolute;
        right: 30%;
        top: 50%;
        transform: translateY(-50%);


    }

    .popup .info4 .tourist .btn>p>label>span {}

    .popup .info4 .tourist .btn>p>label>span>img {}




    /* travel */

    .popup .info4>ul {
        width: 100%;
        margin: 30px auto 100px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
    }

    .popup .info4>ul>li {
        margin: 0 auto;
        padding: 15px;
    }

    .popup .info4>ul>li>div {
        width: 320px;
        border: 1px solid #aaa;
    }

    .popup .info4>ul>li>div>a {}

    .popup .info4>ul>li>div>a>img {
        width: 100%;
    }

    .popup .info4>ul>li>div>a .txt {
        font-size: 20px;
        display: inline-block;
        padding: 10px 15px;
    }

    .popup .info4>ul>li>div>a .txt>b {
        font-size: 25px;
        display: block;
        padding: 5px 0 10px;
    }





}

















